.btn-blog {
    font-weight: 700;
    font-size: 20px;
    width: 120px;
    height: 48px;
    color: white;
    background: #1090D8;
    border-radius: 8px;
}

/* button {
    background-color: #138bd1;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
} */

button:hover {
    background-color: rgb(68, 68, 221);
}
button {
    background-color: #1493dc;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
}
